.menu-bar {
    -fx-background-color: #292929;
    -fx-border-color:  #000000;
}

/*.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing {*/
/*    -fx-background: -fx-accent;*/
/*    -fx-background-color: darkslategray;*/
/*    -fx-opacity: 0.5;*/
/*    -fx-text-fill: -fx-selection-bar-text;*/
/*}*/

.menu .label {
    -fx-text-fill: #e0e0e0;
}

.menu-item .label {
    -fx-text-fill: #e0e0e0;
}
